<div class="column-layout page-content">
  <div class="row-layout header">
    <div class="row-layout group">
      <igx-icon class="icon">
        home
      </igx-icon>
      <h4 class="h4">
        Home
      </h4>
    </div>
  </div>
  <div class="row-layout content">
    <div class="row-layout group_1">
      <div class="column-layout group_2">
        <div class="row-layout group_3">
          <igx-avatar src="/assets/Avatar6.png" size="medium" shape="circle" class="avatar"></igx-avatar>
          <div class="column-layout group_4">
            <h5 class="content_1">
              Erin Brockovich
            </h5>
            <p class="content_1">
              Water quality specialist
            </p>
          </div>
        </div>
        <div class="column-layout group_5">
          <div class="row-layout group_6">
            <div class="column-layout group_7">
              <p class="ig-typography__subtitle-2 text">
                Open PTO
              </p>
              <igx-icon class="icon_1">
                date_range
              </igx-icon>
              <p class="ig-typography__body-2 text_1">
                8.5 days used (YTD)
              </p>
              <p class="ig-typography__caption text_1">
                1 day scheduled
              </p>
            </div>
            <div class="column-layout group_8">
              <p class="ig-typography__subtitle-2 text">
                Bereavement leave
              </p>
              <div class="row-layout group_9">
                <h6 class="content_2">
                  0.0
                </h6>
                <igx-icon class="icon_2">
                  date_range
                </igx-icon>
              </div>
              <p class="ig-typography__body-2 text_1">
                Days available
              </p>
              <p class="ig-typography__caption text_1">
                0 day scheduled
              </p>
            </div>
          </div>
          <div class="row-layout group_10">
            <button igxButton="contained" igxRipple class="button">
              <igx-icon>
                send
              </igx-icon>
              <span>Request time off</span>
            </button>
            <button igxRipple igxIconButton="flat" class="icon-button">
              <igx-icon class="icon_3">
                email
              </igx-icon>
            </button>
          </div>
        </div>
        <div class="column-layout group_11">
          <p class="ig-typography__subtitle-2 text_2">
            What's the buzz
          </p>
          <div class="column-layout list_scroll">
            <igx-list class="list">
              <igx-list-item>
                <span igxListThumbnail>
                  <igx-avatar src="/assets/Avatar3.png" shape="circle" class="avatar"></igx-avatar>
                </span>
                <span igxListLineTitle>Ethan Hunt</span>
                <span igxListLineSubTitle>Birthday, Oct 1</span>
                <span igxListAction>
                  <igx-icon class="icon_4">
                    cake
                  </igx-icon>
                </span>
              </igx-list-item>
              <igx-list-item>
                <span igxListThumbnail>
                  <igx-avatar src="/assets/Avatar5.png" shape="circle" class="avatar"></igx-avatar>
                </span>
                <span igxListLineTitle>Luke Skywalker</span>
                <span igxListLineSubTitle>25th work-anniversary</span>
                <span igxListAction>
                  <igx-icon class="icon_4">
                    flag
                  </igx-icon>
                </span>
              </igx-list-item>
              <igx-list-item>
                <span igxListThumbnail>
                  <igx-avatar src="/assets/Avatar1.png" shape="circle" class="avatar"></igx-avatar>
                </span>
                <span igxListLineTitle>Donnie Darko</span>
                <span igxListLineSubTitle>On vacation, Oct 10-23</span>
                <span igxListAction>
                  <igx-icon class="icon_4">
                    beach_access
                  </igx-icon>
                </span>
              </igx-list-item>
              <igx-list-item>
                <span igxListThumbnail>
                  <igx-avatar src="/assets/Avatar2.png" shape="circle" class="avatar"></igx-avatar>
                </span>
                <span igxListLineTitle>Edna Mode</span>
                <span igxListLineSubTitle>Visiting customer</span>
                <span igxListAction>
                  <igx-icon class="icon_4">
                    airplanemode_active
                  </igx-icon>
                </span>
              </igx-list-item>
            </igx-list>
          </div>
        </div>
      </div>
      <div class="column-layout group_12">
        <div class="column-layout group_13">
          <div class="row-layout group_14">
            <p class="ig-typography__subtitle-2 text_3">
              What's happening at Rapid Fission Inc.
            </p>
            <p class="ig-typography__subtitle-2 text_3">
              Announcements (1)
            </p>
          </div>
          <igx-list class="list">
            <igx-list-item>
              <span igxListThumbnail>
                <igx-avatar src="/assets/Avatar4.png" shape="circle" class="avatar"></igx-avatar>
              </span>
              <span igxListLineTitle>George Bailey posted  an announcement, awards, and call for nominations</span>
              <span igxListLineSubTitle>19 days ago</span>
              <span igxListAction>
                <igx-icon class="icon_4">
                  clear
                </igx-icon>
              </span>
            </igx-list-item>
          </igx-list>
        </div>
        <div class="column-layout group_15">
          <div class="row-layout group_16">
            <p class="ig-typography__subtitle-2 content_2">
              MY BENEFITS
            </p>
          </div>
          <igx-list class="list">
            <igx-list-item>
              <span igxListThumbnail>
                <igx-avatar shape="circle" class="avatar_1">
                  <igx-icon>
                    security
                  </igx-icon>
                </igx-avatar>
              </span>
              <span igxListLineTitle>Radiation protection health insurance planre</span>
              <span igxListLineSubTitle>$600 every other week</span>
            </igx-list-item>
            <igx-list-item>
              <span igxListThumbnail>
                <igx-avatar shape="circle" class="avatar_1">
                  <igx-icon>
                    remove_red_eye
                  </igx-icon>
                </igx-avatar>
              </span>
              <span igxListLineTitle>20/20 Vision plans here</span>
              <span igxListLineSubTitle>$234 every other week</span>
            </igx-list-item>
            <igx-list-item>
              <span igxListThumbnail>
                <igx-avatar shape="circle" class="avatar_1">
                  <igx-icon>
                    child_friendly
                  </igx-icon>
                </igx-avatar>
              </span>
              <span igxListLineTitle>Child care savings</span>
              <span igxListLineSubTitle>$4955 remaining</span>
            </igx-list-item>
            <igx-list-item>
              <span igxListThumbnail>
                <igx-avatar shape="circle" class="avatar_1">
                  <igx-icon>
                    security
                  </igx-icon>
                </igx-avatar>
              </span>
              <span igxListLineTitle>Fire hazard protection  </span>
              <span igxListLineSubTitle>On da house!</span>
            </igx-list-item>
          </igx-list>
        </div>
      </div>
    </div>
  </div>
</div>
